.box {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }

  .one {
    flex: 1 1 auto;
    margin: 10px;
    background-color: #d3bebf;
  }

  .two {
    flex: 1 1 auto;
    margin: 10px;
    background-color: aquamarine;
  }

  .three {
    flex: 1 1 auto;
    margin: 10px;
    background-color: rgb(76, 236, 76);
  }